*{
    margin: 0;
    padding: 0;;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* color */
.text-white{
  color: #FFFFFF;
}
.display-flex{
    display: flex;
}

.bg-purple{
    background-color: #1A0B2E;
}
/* navbar */
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #412567;
}

.logo{
    font-size: 2.5rem;
}
.gradient-logo{
    background: linear-gradient(
   to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}

.nav-links {
     gap: 32px;
     max-width: 218px;

}

.nav-item{
    list-style: none;
       
   
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
   
}

.nav-btn{
     display: inline-flex;
      align-items: center;
      font-size:1rem;
      padding: 12px 16px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 4px; 
      border-radius: 1000px;
      font-weight: 600;
      background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      border: none;
    }
  .hamburger{
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  /* Banner CSS */
 .banner-background {
  max-width: 1600px;
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}


 

  .banner{
    flex-direction: column;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;  
    margin-top: 101px; 
    max-width: 550px;
    height:560px;


  }

  .banner-image{
    width: 350px;
    height: 350px;
    margin: 100px;
    margin-bottom: 40px;
  }

  .banner-mike{
    position: absolute;
   margin-bottom: 67px;
   

  }
 .banner-content{
   max-width: 550px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

  } 

.banner-title{
    font-size: 3.70rem;
    font-weight: 800;
    gap: 8px;

  }

  .banner-description{
    font-size: 1rem;
    font-weight:400;
    margin-bottom: 24px;
  }

  .badge{
    position: absolute;
   padding: 8px 16px;
   border-radius: 1000px;
   background-color: #00FF88;
   color: #1A0B2E;
   font-size: 1.2rem;
   font-weight: 600;
   top: 38%;
   right:41%;
   border: none;

  }
  .banner-btns{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  .banner-btn1{
  background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      border: none;
      display: inline-flex;
      align-items: center;
      font-size:1rem;
      padding: 12px 20px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 8px; 
      border-radius: 1000px;
      font-weight: 600;
      color:#FFFFFF ;

  }

  .banner-btn2{
     background-color: transparent;
      border: 1px solid #00FF88;
      display: inline-flex;
      align-items: center;
      font-size:1rem;
      padding: 12px 20px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 8px; 
      border-radius: 1000px;
      font-weight: 600;
      color: #00FF88 ;
      width: 147px;

  }
 






    /* Responsive  */
    @media screen and (max-width:576px){
        .nav-links,.nav-btn{
            display: none;
    
        }
        .hamburger{
            display: block;
        }
     
       .navbar{
        padding: 0 20px;
       }
       .logo{
        margin-left: 0;
        font-size: 2rem;
        margin: 20px;
       
       }
  .banner-background {
    max-width: 440px;
    height: auto; /* height adjusts to content */
    margin: 0 auto;
    background-size: cover; /* fill the area like desktop */
    background-position: center center; /* center image */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .banner {
    flex-direction: column;
    margin: 0;
    max-width: 400px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
  }

  .banner-image {
    width: 220px;
    height: 220px;
    margin: 12px 0 20px 0;
  }

  .banner-mike {
    position: absolute;
    width: 50px;
    height: auto;
    margin-bottom: 220px;
  }
  .badge{
    position: absolute;
   padding: 8px 16px;
   gap: 10px;
   border-radius: 1000px;
   background-color: #00FF88;
   color: #1A0B2E;
   font-size: 1.2rem;
   font-weight: 600;
   border: none;
   top: 2%;
   right:95px;
  }
.banner-content{
   max-width: 350px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
justify-content: center;
align-items: center;
  
}
.banner-title{
    font-size: 2.5rem;

  }
  .banner-description{
    font-size: 0.8;
  }
    .banner-btn1{
      max-width: 201px;
      font-size:0.9rem;
      padding: 12px 20px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 8px; 
      border-radius: 1000px;
      font-weight: 600;
      color:#FFFFFF ;

  }
    .banner-mike{
    position: absolute;
     top:20%;
}
    }