*{
    margin: 0;
    padding: 0;;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* color */
.text-white{
  color: #FFFFFF;
}
.display-flex{
    display: flex;
}

.bg-purple{
    background-color: #1A0B2E;
}
/* navbar */
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #412567;
}

.logo{
    font-size: 2.5rem;
}
.gradient-logo{
    background: linear-gradient(
   to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}

.nav-links {
     gap: 32px;
     max-width: 218px;

}

.nav-item{
    list-style: none;
       
   
}
.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
   
}

.nav-btn{
     display: inline-flex;
      align-items: center;
      font-size:1rem;
      padding: 12px 16px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 4px; 
      border-radius: 1000px;
      font-weight: 600;
      background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      border: none;
    }
  .hamburger{
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  /* Banner CSS */
 .banner-background {
  max-width: 1600px;
  height: 760px;
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}


 

  .banner{
    flex-direction: column;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;  
    margin-top: 101px; 
    max-width: 550px;
    height:560px;


  }

  .banner-image{
    width: 350px;
    height: 350px;
    margin: 100px;
    margin-bottom: 40px;
  }

  .banner-mike{
    position: absolute;
   
   

  }
  /* .banner-content{
   

  } */

/* .banner-title{

  }

  .banner-btn1{

  }

  .banner-btn2{

  }
  */
 






    /* Responsive  */
    @media screen and (max-width:576px){
        .nav-links,.nav-btn{
            display: none;
    
        }
        .hamburger{
            display: block;
        }
     
       .navbar{
        padding: 0 20px;
       }
       .logo{
        margin-left: 0;
        font-size: 2rem;
        margin: 20px;
       
       }
      }
    

